# Known Good Versions Set
# =======================

[buildout]
extensions =
    mr.developer

# Dump the last successful "known good" versions to a file so that we can pin
# those for example in production.cfg
show-picked-versions = true

# Extend a versions configuration to get the right version of Plone.
# The files can be downloaded from http://dist.plone.org/release/<version>/versions.cfg

extends =
    http://dist.plone.org/release/4.3.3/versions.cfg
    versions.cfg

find-links =

versions = versions
unzip = true

[eggs]
main =
    ade25.toolbar
    tvw.sitetheme
    newport.sitecontent
    vwc.blog



addon =
    Pillow
    collective.plonetruegallery
    collective.prettyphoto
    collective.quickupload
    plone.api
    plone.app.caching
    plone.app.caching
    plone.app.toolbar
    plone.app.widgets[archetypes,dexterity]
    plone.formwidget.geolocation
    wildcard.foldercontents
    collective.easyform
    plone.app.collection

test =
    example.sitetheme [test]

devtools =
    bpython
    plone.reload
    sauna.reload
    Products.PDBDebugMode
    Products.PrintingMailHost
    Products.DocFinderTab

# mr.developer - sources available for auto-checkout.
# Run ./bin/develop help for more information.

[sources]
tvw.sitetheme                 = fs tvw.sitetheme
newport.sitecontent               = fs newport.sitecontent
ade25.toolbar                     = git git@github.com:ade25/ade25.toolbar.git
ade25.typekit                     = git git@github.com:ade25/ade25.typekit.git
# Additional plone checkouts
vwc.blog                        = git git@github.com:vwc/vwc.blog.git

# Development Tools checkouts
sauna.reload                = git https://github.com/epeli/sauna.reload.git
# Fabfile collection for automation
ade25.fabfiles                  = git git@github.com:potzenheimer/ade25.fabfiles.git
